.top {
	height: 36px;
	line-height: 36px;
	background-color: #333;
}
.top a {
	color: #ccc;
}
.top-l {
	float: left;
	padding-left: 80px;
}
.logo-txt {
	float: left;
	margin-right: 30px;
}
.carousel-notice {
	float: left;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	padding-left: 25px;
	background: url(../imgs/notice-icon.gif) left center no-repeat;
}
.carousel-notice > ul {
	position: relative;
}
.notice-item a {
	text-decoration: underline;
	color: #b4a078;
}
.notice-item a:hover {
	text-decoration: none;
	color: #fff;
}
.top-r {
	float: right;
	padding-right: 76px;
}
.top-cell {
	float: left;
	position: relative;
	padding: 0 10px;
	cursor: pointer;
}
.top-cell:hover {
	color: #fff;
}
.top-line {
	position: absolute;
	left: 0;
	top: 10px;
	display: inline-block;
	width: 1px;
	height: 16px;
	background-color: #5c5c5c;
}
.top-drop {
	position: absolute;
	display: none;
	top: 36px;
	left: 0;
	padding: 0 12px;
	border: 1px solid #ddd;
	box-shadow: 0 0 6px 0 #ddd;
	text-align: center;
}
.drop-item {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	padding: 0 4px;
	width: 50px;
}
.drop-item a:hover {
	color: #b4a078;
}
.drop-item:last-child {
	border-bottom: none;
}
.top-drop a {
	color: #999;
}
.icon {
	background: url(../imgs/s1.png) no-repeat;
}
.drop1-link .icon {
	display: inline-block;
	width: 10px;
	height: 8px;
	margin-left:10px;
	background-position: 0 -321px;
	transform: rotate(0);
	transition: all .1s;
}
.service-cell:hover .drop1-link .icon {
	transform: rotate(180deg);
}
.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}
.top-drop .triangle {
	top: -6px;
	left: 35px;
}
.top-cell:hover .top-drop {
	display: block;
}
.app-cell .icon {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 8px;
	height: 12px;
	background-position: 0 0;
}
.drop1-link:hover {
	color: #fff;
}
.drop-app {
	position: absolute;
	display: none;
	left: -36px;
	padding: 8px 4px;
	border:1px solid #ddd;
	box-shadow: 0 0 6px 0 #ddd;
	cursor: default;
}
.drop-app .ercode {
	width: 123px;
	height: 110px;
	background: url(../imgs/ercode.png) center no-repeat;
}
.drop-app .ercode-txt {
	height: 18px;
	line-height: 18px;
	color: #b4a078;
}
.drop-app .triangle {
	top: -6px;
	left: 58px;
}
.app-cell:hover .drop-app {
	display: block;
}
.header {
	position: relative;
  height: 204px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.header-inner {
	width: 1090px;
	margin: 0 auto;
	position: relative;
}
.search-wrap {
	position: relative;
	height: 62px;
	padding-top: 50px;
	padding-bottom: 46px;
	text-align: center;
}
.logo-link {	
	display: inline-block;
	width: 182px;
	height: 62px;
	/*left: 50%;
	margin-left: -91px;*/
	background: url(../imgs/s1.png) no-repeat 0 -146px;
}
.login-icon-box {
	display: none;
	right: 0;
	position: absolute;
	width: 22px;
	height: 22px;
	background-position: 0 -352px;
	cursor: pointer;
}
.login-tap {
	display: none;
	position: absolute;
	width: 80px;
	height: 82px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px 0 #ddd;
	text-align: center;
	top: 28px;
	z-index: 4;
	left: -30px;
}
.login-tap li {
	height: 40px;
	line-height: 40px;
	width: 55px;
	margin: 0 auto;
}
.login-tap .item1 {
	border-bottom: 1px solid #ddd;
}
.login-tap .triangle {
	position: absolute;
	top: -6px;
	left: 28px;
	width: 6px;
	height: 6px;
	background-position: -1px -336px;
}
.login-icon-box:hover .login-tap {
	display: block;
}
.login-tap a {
	font-size: 14px;
	color: #999;
}
.search-inner {
	position: absolute;
  right: 42px;
  top: 56px;
	padding: 26px 20px 8px 120px;
}
.search-txt {
	width: 252px;
	border-bottom: 1px solid #d8cebc;
	height: 22px;
	line-height: 22px;
	position: relative;
	z-index: 2;
	background: transparent;
}
#place-text {
	position: absolute;
	color: #999;
	top:32px;
	left: 136px;
}
.search-btn {
	position: relative;
	top: 4px;
	background-position: 0 -291px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.cart-box {
	position: absolute;
	right: 8px;
	top: 74px;
}
.cart-box .cart-link {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 34px;
	background-position: 0 -103px;
}
.cart-box .pro-num {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 14px;
  text-align: center;
  color: #fff;
  line-height: 20px;
	background-position: 0 -50px;
}
.nav-wrap {
	width: 1104px;
	margin: 0 auto 20px;
}
html,body {
	width: 100%;
}
.nav-drop {
	display: none;
	position: absolute;
	z-index: 3;
	left: 0;
	margin-top: 3px;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}
.nav-item {
	float: left;
	margin: 0 24px;
	list-style: none;
}
.nav-item > a {
	display: inline-block;
	margin-bottom: 6px;
}
.nav-item:hover, .nav-wrap .on {
	border-bottom: 3px solid #b39f78;
}
.nav-wrap .on > a {
	color: #b39f78;
}
.nav-wrap a {
	font-size: 14px;
	font-weight: bold;
}
.nav-for {
	position: relative;
}
.nav-line {
	position: absolute;
	left: -24px;
	width: 1px;
	height: 20px;
	background-color: #ccc;
}
.nav-item:hover > a {
	color: #b39f78;
}
.nav-drop-item a:hover {
	color: #b39f78;
}
.nav-drop-list {
	width: 1022px;
  padding-top: 34px;
  margin-left: 80px;
}
.nav-drop-item {
	float: left;
	width: 44px;
	margin-right: 102px;
	margin-bottom: 30px;
}
.nav-drop-item a {
	display: block;
}
.nav-drop-item p {
	width: 100px;
	margin-left: -28px;
	text-align: center;
}
.w1087{
	width: 1087px;
	margin: 0 auto;
}

.banner-box {
	position: relative;
	width: 100%;
	height: 420px;
}

.fixednav {
	position: fixed;
	z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px!important;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.fixednav .nav-item {
	margin: 0 19px;
}
.fixednav .nav-wrap {
	margin-left: 126px;
	margin-top: 20px;
}
.fixednav .nav-drop {
	left: -66px;
	width: 1232px;
}
.fixednav .search-inner {
	right: 118px;
	top: -30px;
}
.search-tap {
	position: absolute;
	display: none;
	z-index: 100;
	top: 53px;
	width: 250px;
	left: 120px;
	background-color: #fff;
	border:1px solid #e8e8e8;
	border-top: none;
}
.search-tap li {
	height: 26px;
	line-height: 26px;
}
.search-tap li a {
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
}
.search-tap .search {
	color: #a2a2a2;
	padding-left: 10px;
}
.search-tap li a.red {
	color: #b4282d;
}
.search-tap li a:hover {
	background-color: #f8f5f0;
}
.header .search-hide {
	display: inline-block;
}
.fixednav .login-icon-box {
	display: block;
	right: 72px;
	top: -2px;
}
.fixednav .cart-box {
	right: 0;
	top: -12px;
}
.fixednav .sm-logo{
	position: absolute;
	top: -7px;
	width: 106px;
	height: 35px;
	background-position: 0 -216px;
}
.search-more {
	display: none;
	position: absolute;
	left: 52px;
	cursor: pointer;
}
.fixednav .search-more {
	display: block;
}
.fixednav .nav-for, .fixednav .nav-much, .fixednav .search-wrap, .fixednav .search-hide {
	display: none;
}
/*.banner, .banner-img, .banner-img > a, .banner-img > a > img {
	width: 100%;
}*/
body {
	overflow-x: hidden;
}
.banner-img {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity:0);
}
.banner-img > a, .banner-img > a > img {
	display: block;
}
.banner-img > a > img {
	position: relative;
	left: -18%;
}
.banner-img:nth-child(1) {
	opacity: 1;
	filter: alpha(opacity:100);
}
.arrow > a {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 30px;
	text-align: center;
	background-color: #D0C4AF;
	color: #fff;
}
.arrow a:nth-child(1) {
	left: 60px;
}
.arrow a:nth-child(2) {
	right: 60px;
}
.arrow > a:hover {
	background-color: #B19D79;
}
.dot {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -46px;
}
.dot li {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 6px;
	border-radius: 50%;
}
.dot li a {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #bfbbba;
	border: 2px solid transparent;
}
.dot .active {
	background-color: #dfcead;
}
.dot .active a {
	border-color: #b4a078;
	background-color: #eeeef0;
}
.w1090 {
	width: 1090px;
	margin: 0 auto;
}
.brandtit-l {
	float: left;
}
.brandtit-l a {
	margin-right: 20px;
	font-size: 26px;
	font-weight: bolder;
}
.brandtit-l a:hover {
	color: #b39f78;
}
.brandtit-l span {
	font-size: 14px;
}
.brandtit-r {
	float: right;
}
.brandtit-r a {
	font-size: 14px;
}
.brandtit-r a:hover {
	color: #b39f78;
}
.brand-tit {
	padding-top: 30px;
	padding-bottom: 18px;
}
.brandcon1 {
	width: 356px;
	height: 320px;
	margin-right: 10px;
}
.brandcon {
	float: left;
	position: relative;
	overflow: hidden;
}
.brandcon > a {
	display: block;
}
.brandcon > a > img {
	width: 100%;
	display: block;
	-webkit-transition:-webkit-transform 1s;
	transition: transform 1s;
}
.brand-txt1 {
	top: 48px;
}
.brand-txt {
	position: absolute;
	text-align: center;
	width: 100%;
}
.brand-txt h3 {
	font-size: 24px;
	margin-bottom: 18px;
}
.brand-txt p {
	font-size: 14px;
	display: inline-block;
	padding-top: 20px;
	border-top: 1px solid #666;
}
.brand-cover {
	position: absolute;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	cursor: pointer;
}
.brand-cover:hover + a > img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.brandcon2 {
	width: 357px;
	height: 155px;
}
.mb {
	margin-bottom: 10px;
}
.brand-txt2 {
	left: 20px;
	top: 30px;
	text-align: left;
}
.brand-txt2 h3 {
	font-size: 20px;
}
.brandcon-box {
	margin-bottom: 38px;
}
.newcon-item {
	float: left;
	width: 265px;
	margin-right: 10px;
}
.newcon-item:hover {
  background-color: #f4f4f4;
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,.3);
}
.newcon-img {
	height: 265px;
}
.newcon-img >a, .newcon-img> a >img {
	display: block;
}
.newcon-img> a >img {
	width: 100%;
}
.newcon-inner {	
	overflow: hidden;
}
.newcon-box {
	position: relative;
	padding-bottom: 50px;
}
.new-arrow a {
	position: absolute;
	z-index: 4;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #E7E2D7;
	color: #fff;
	font-size: 32px;
	top:148px;
	border-radius: 50%;
}
.new-arrow a:hover {
	background-color: #d0c4af;
}
#newcon-list {
	position: relative;
}
.new-arrow .new-arrow-r {
	right: -25px;
}
.new-arrow .new-arrow-l {
	left: -25px;
}
.newcon-txt {
	text-align: center;
}
.newcon-txt a {
	display: block;
	padding-top: 30px;
	font-weight: 600;
}
.newcon-txt a:hover {
	color: #b39f78;
}
.newcon-txt .price {
	height: 32px;
	line-height: 32px;
	color: #d4282d;
}
.newcon-item:hover .newcon-txt {
	background-color: #f4f0ea;
}
.recom-wrap {
	background-color: #f4f0ea;
	padding-bottom: 60px;
}
.recom-tit {
	padding-top: 60px;
	padding-bottom: 18px;
}
.recom-l,.recom-l h3 {
	float: left;
	margin-right: 34px;
}
#recom-tab {
	float: left;
}
.recom-l h3 a {
	font-size: 28px;
	font-weight: bolder;
}
#recom-tab >a {
	float: left;
	font-size: 14px;
	margin-right: 60px;
	padding: 6px;
}
.recom-l a:hover, #recom-tab .on, .recom-r:hover, .recom-l h3 a:hover {
	color: #b4a078;
}
.recom-l .on {
	border-bottom: 2px solid #b4a078;
}
.recom-r {
	float: right;
	font-size: 14px;
}
.recom-item-l {
	float: left;
	width: 390px;
	height:530px;
	text-align: center;
	background-color: #fff;
}
.recom-item-l:hover .recom-top img {
	transform: scale(1.05);
}
.recom-top img {
	transition: transform 1s;
}
.recom-item-r {
	float: right;
	width: 700px;
}
.recom-top {
	float: left;
	height: 400px;
	border-bottom: 1px solid #f4f0ea;
}
.recom-top a, .recom-top img {
	display: block;
}
.recom-top img {
	margin:40px 35px;
}
.recom-bottom {
	padding-bottom: 26px;
}
.recom-bottom > span {
	display: inline-block;
	padding: 2px 4px;
	background-color: #e36844;
	color: #fff;
	margin-top: 18px;
	margin-bottom: 10px;
}
.recom-sm-bot span {
	display: inline-block;
	padding: 2px 4px;
	background-color: #e36844;
	color: #fff;
	margin-top: 6px;
	margin-bottom: 4px;
}
.recom-con {
	height: 530px;
	overflow: hidden;
}
.recom-sm-bot a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 200px;
	margin-left: 12px;
	white-space: nowrap;
}
.recom-sm-bot a:hover {
	color: #b39f78;
}
.recom-sm-bot .price {
	color: #d42888;
}
.recom-sm-top img {
	margin: 0 21px;
}
.recom-bottom a {
	display: block;
	font-size: 18px;
	font-weight: bold;
}
.recom-bottom a:hover {
	color: #b39f78;
}
.recom-bottom p.price {
	color: #d486d1;
	font-size: 14px;
	margin-top: 18px;
}
.recom-sm {
	float: left;
	width: 223px;
	height: 260px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	text-align: center;
}
.recom-sm-top img {
	transition: transform 1s;
}
.recom-sm:hover .recom-sm-top img {
	transform: scale(1.05);
}
.recom-sm-top {
	height: 180px;
	border-bottom: 1px solid #f4f0ea;
}
.recom-sm-top a, .recom-sm-top img {
	display: block;
}

/*limit*/
.pub-tit {
	padding-bottom: 20px;
	padding-top: 58px;
	height: 28px;
	line-height: 28px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.pub-tit .fl {
	font-size: 28px;
  font-weight: 700;
}
.pub-tit .fl:hover {
	color: #b4a078;
}
.pub-tit .fr {
	font-size: 14px;
	padding-top: 5px;
}
.pub-tit .fr:hover {
	color: #b4a078;
}
.limite-time-box {
	position: relative;
	float: left;
	width: 224px;
	height: 317px;
	padding-top: 60px;
	text-align: center;
	background: url(../imgs/time-bg.jpg) no-repeat;
}
.limite-cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom:0;
	cursor: pointer;
}
.limit-hours {
	height: 36px;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 11px;
  color: #615548;
}
.limit-line {
	width: 20px;
  height: 2px;
  margin: 0 auto 18px;
  background: #61594b;
}
.limit-rest {
	margin-bottom: 18px;
	font-size: 18px;
	color: #615548;
	line-height: 22px;
	height: 22px;
}
.limit-time {
	height: 40px;
	margin-bottom: 50px;
	text-align: center;
}
.limit-time span {
	display: inline-block;
}
.limit-time .limit-h, .limit-time .limit-m, .limit-time .limit-s {
	width: 40px;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	background-color: #615548;
	border-radius: 2px;
}	
.limit-time .limit-dot {
	font-weight: 700;
	padding: 0 2px;
}
.limit-all {
	display: block;
  width: 110px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  background-color: #a7936e;
  cursor: pointer;
  border-radius: 15px;
}
.limit-all:hover {
	color: #fff;
}
.limit-con-inner {
	height: 377px;
	margin-left: 224px;
}
.limit-item {
	float: left;
  width: 432px;
  height: 187px;
  border: 1px solid #f0ece4;
  border-left: none;
  margin-top: -1px;
  position: relative;
  top: 1px;
}
.limit-img-box {
	float: left;
	width: 180px;
	height: 180px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 0;
}
.limit-img-box a {
	display: block;
	cursor: pointer;
}
.limit-img-box img {
	display: block;
	transition: transform 1s;
}
.limit-item:hover .limit-img-box img {
	transform: scale(1.05);
}
.limit-txt {
	margin-left: 180px;
	height: 187px;
	padding-top: 14px;
}
.limit-tit {
	height: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.limit-des {
	height: 24px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.progress-box {
	padding: 14px 0 8px;
	height: 24px
}
.progress-bar {
	float: left;
  position: relative;
  overflow: hidden;
  width: 152px;
  height: 10px;
  margin: 2px 0;
  border: 1px solid #f2cecd;
  -webkit-border-radius: 5px;
}
.progress-bar-inner {
	display: inline-block;
	background-color: #ffe5e5;
	height: 14px;
	width: 140px;
}
.limit-rest-num {
	float: left;
	margin-left: 8px;
	height: 14px;
  font-size: 14px;
  color: #999;
  line-height: 14px;
}
.limit-price {
	color: #be4141;
	font-size: 14px;
}
.limit-price > span {
	float: left;
}
.price-sign {
	font-size: 18px;
	margin-left: 4px;
	width: 14px;
	font-family: verdana;
}
.limit-price-txt {
	margin-right: 12px;
	vertical-align: sub;
	font-weight: 700;
	font-size: 24px;
}
.origin-box {
	color: #999;
	font-size: 14px;
}
.origin-price {
	text-decoration: line-through;
}
.limit-txt .buy-btn {
	display: inline-block;
	width: 118px;
  height: 31px;
  margin-top: 18px;
  line-height: 31px;
  text-align: center;
  font-size: 16px;
  background-color: #be4141;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.buy-btn:hover {
	background-color: #da4f4f;
	color: #fff;
}
.welfare-box {
	width: 1100px;

}
.welfare-box .welfare-link {
	float: left;
	position: relative;
	margin-right: 9px;
	cursor: pointer;
}
.welfare-box .welfare-link img {
	display: block;
}
.welfare-box .welfare-link .wel-pro {
	position: absolute;
	width: 130px;
	height: 130px;
	top: 70px;
	left: 20px;
}
.pub-sub-tit {
	float: right;
	padding-top: 5px;
	font-size: 14px;
	margin-right: 40px;
}
.pub-sub-tit a:hover {
	color: #b4a078;
}
.pub-sub-tit b {
	font-weight: bold;
	margin: 0 13px;
}
.living-banner {
	margin-bottom: 18px;
}
.living-banner a, .living-banner img {
	display: block;
}
.living-box {
	width: 1100px;
}
.living-item {
	float: left;
	width: 265px;
	margin-right: 10px;
}
.living-img {
	height: 265px;
	margin-bottom: 8px;
	background-color: #f4f4f4;
	overflow: hidden;
}
.living-img img {
	transition: transform 1s;
}
.living-img:hover img {
	transform: scale(1.05);
}
.living-img a , .living-img img {
	display: block;
}
.living-txt {
	text-align: center;
	padding: 0 10px;
}
.living-tit {
	margin-bottom: 4px;
	height: 20px;
	line-height: 20px;
}
.living-flag {
	height: 20px;
	margin-bottom: 3px;
	color: #fff;
}
.living-flag span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #fff;
	padding: 0 5px;
}
.living-flag .limit {
	background-color: #e36844;
}
.living-flag .new {
	background-color: #b4a078;
}
.living-flag .hot {
	background-color: #f28f2d;
}
.living-price {
	padding-bottom: 10px;
	color: #d4282d;
}
.living-tit a:hover {
	color: #b4a078;
}
.cloth-banner {
	margin-bottom: 18px;
}
.cloth-banner a, .cloth-banner img {
	display: block;
}
.clothes-box {
	width: 1100px;
}
.comments-box {
	background-color: #f4f0ea;
	padding-bottom: 60px;
}
.comments-tit {
	font-size: 28px;
	font-weight: bolder;
	height: 28px;
	padding-bottom: 20px;
	padding-top: 60px;
}
.comments-tit span {
	font-size: 14px;
	margin-left: 20px;
}
.comments-con {
	position: relative;
}
.comments-wrap {
	position: relative;
	width: 1100px;
	overflow: hidden;
	height: 492px;	
}
.comments-list {
	position: absolute;
	height: 492px;
}
.comments-item {
	float: left;
	position: relative;
	width: 357px;
	height: 495px;
	margin-right: 10px;
	background-color: #fff;
	overflow: hidden;
}
.comments-img {
	padding-top: 1px;
}
.comments-img a, .comments-img img {
	display: block;
}
.comments-img img {
	margin:1px;
	margin-top: 0;
	transition: transform 1s;
}
.comments-item:hover .comments-img img {
	transform: scale(1.05);
}
.comments-txt {
	position: absolute;
	bottom: 0;
	width: 314px;
	height: 130px;
	left: 50%;
	margin-left: -173px;
	padding: 16px 18px 40px 14px;
	background-color: #fff;
}
.comments-txt .user {
	height: 22px;
	line-height: 22px;
	color: #c5c5c5;
	font-size: 14px;
}
.comments-txt .user .comment-time {
	margin-left: 12px;
}
.comments-txt .comments-subtit {
	height: 28px;
	line-height: 28px;
	margin-bottom: 18px;
}
.comments-txt .comments-subtit .subtit1 {
	font-size: 16px;
	color: #4b4b4b;
	font-weight: bold;
}
.comments-price {
	float: right;
	margin-right: 12px;
	color: #cfc2a9;
}
.comments-btn a {
	position: absolute;
	top:152px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #d0c4af;
	color: #fff;
	font-size: 28px;
	border-radius: 50%;
	cursor: pointer;
}
.comments-btn a.prev {
	left: -25px;
}
.comments-btn a.next {
	right: -25px;
}
.comments-btn a:hover {
	background-color: #B19E7A;
}
.fixed-tool {
	position: absolute;
	z-index: 100;
	width: 72px;
	right: 0;
}
.fixed-tool .fixed-item {
	float: left;
	width: 72px;
  background-color: #fff;
  color: #666;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  padding-top: 14px;
  position: relative;
}
.fixed-item .fix-line {
	display: inline-block;
	width: 60px;
	height: 1px;
	background-color: #eaeaea;
	margin-top: 8px;
}
.fixed-tool > .fixed-item:hover > p{
	color: #b4a078;
}
.s2 {
	display: inline-block;
	background: url(../imgs/s2.png) no-repeat;
}
.fixed-tool .fixed-item1 i {
	background-position: 0 -297px;
	height: 29px;
	width: 28px;
}
.fixed-tool .fixed-item1:hover i {
	background-position: 0 -258px;
}
.fixed-tool .fixed-item2:hover i {
	background-position: 0 -128px;
}
.fixed-tool .fixed-item3:hover i {
	background-position: 0 -45px;
}
.fixed-tool .fixed-item2 i{
	background-position: 0 -168px;
	height: 30px;
	width: 20px
}
.fixed-tool .fixed-item3 i{
	background-position: 0 -86px;
	height: 31px;
	width: 32px
}
.fixed-tool > .fixed-item > p {
	line-height: 20px;
	font-size: 14px;
	margin: 8px auto 0;
	position: relative;
}
.back-top {
	display: none;
}
.back-top i {
	width: 25px;
	height: 15px;
	background-position: 0 -233px;
}
.back-top:hover i {
	background-position: 0 -208px;
}
.app-tap {
	position: absolute;
	display: none;
	width: 230px;
	height: 220px;
	right: 92px;
	top: -76px;
	padding: 20px 0 0 15px;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	box-shadow: 0 2px 4px 0 #7f7f7f;
}
.fixed-item2:hover .app-tap {
	display: block;
}
.app-tap .app-trangle {
	position: absolute;
	width: 9px;
	height: 19px;
	right: -9px;
	top: 104px;
	background-position: 0 -336px;
}
.app-tap .apptap-top {
	margin-bottom: 12px;
	color: #be4141;
}
.app-cash-r {
	text-align: left;
}
.app-cash-r, .app-cash-l {
	float: left;
}
.app-cash-l .flag {
	font-size: 20px;
}
.app-cash-l .num {
	font-size: 54px;
}
.app-cash-r .new {
	font-size: 16px;
	padding: 0 6px;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	background-color: #f8bc59;
}
.app-cash-r .gift {
	font-size: 18px;
	display: block;
}
.app-bottom {
	margin-top: 12px;
}
.app-ercode {
	float: left;
	border:1px solid #eaeaea;
	padding: 3px;
}
.app-ercode span {
	display: inline-block;
	width: 106px;
	height: 106px;
	background: url(../imgs/app-ercode_03.jpg);
}
.app-b-txt {
	float: left;
	padding: 35px 0 0 6px;
}
.app-b-txt h5 {
	font-size: 20px;
	margin-bottom: 8px;
}
.app-b-txt p {
	font-size: 14px;
}
.cover {
	display: none;
	position: fixed;
  top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
html,body {
	height: 100%;
	width: 100%;
}
.register-box {
	display: none;
	position: absolute;
	z-index: 102;
	width: 384px;
	height: 486px;
	background-color: #fff;
	left: 50%;
	margin-left: -192px;
	padding: 32px 40px 82px 42px;
	box-sizing: border-box;
}
.register-top {
	margin-bottom: 46px;
}
.register-top span {
	font-size: 18px;
}
.register-top a {
	float: right;
}
.email-register {
	margin-right: 28px;
}
.form-group {
	position: relative;
	margin-bottom: 16px;
}
.form-group input {
	width: 216px;
	height: 18px;
	border: 1px solid #e8e8e8;
	padding: 9px 40px 9px 44px;
}
.form-group .phone {
	position: absolute;
	width: 14px;
	height: 19px;
	top: 9px;
	left: 11px;
	background: url(../imgs/form-phone.png);
} 
.form-group .line {
	position: absolute;
	width: 1px;
	height: 25px;
	background-color: #e8e8e8;
	top: 6px;
	left: 36px;
}
.form-group .clear-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 12px;
	top: 11px;
	background-position: -149px -91px;
	cursor: pointer;
}
.sprit3 {
	background: url(../imgs/s3.png) no-repeat;
}
.form-group2 input {
	border: 1px solid #e8e8e8;
	padding: 9px 128px 9px 10px;
	width: 162px;
	height: 18px;
}
.get-validate {
	position: absolute;
	font-size: 14px;
	padding: 9px;
	background-color: #eee;
	right: 1px;
	top: 1px;
	cursor: pointer;
}
.form-group2 .clear-icon {
	right: 102px;
}
.form-group .lock {
	position: absolute;
	width: 16px;
	height: 17px;
	background-position: -63px -89px;
	left: 9px;
	top: 10px;
}
.form-group3 {
	margin-bottom: 9px;
}
.register-info {
	display: none;
	padding-left: 32px;
	height: 19px;
	line-height: 19px;
	color: #d4282d;
	background: url(../imgs/reg-icon.png) no-repeat;
}
.register-btn{
	display: block;
	height: 48px;
	line-height: 48px;
	margin-top: 40px;
	width: 300px;
	background-color: #b4a078;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.register-agree {
	margin-top: 14px;
}
.register-agree, .register-agree a {
	color: #999;
}
.register-agree a:hover {
	color: #333;
}
.form-group .red-border {
	border-color: #fa6060;
}
.close-btn {
	position: absolute;
	right: 12px;
	top: 12px;
	width: 24px;
	height: 24px;
	background: url(../imgs/closebtn.png) 0 -94px;
	cursor: pointer;
}
.close-btn:hover {
	background-position: 0 -60px;
}
.login-box {
	display: none;
	position: absolute;
	z-index: 104;
	width: 388px;
	height: 448px;
	left: 50%;
	margin-left: -194px;
	background-color: #fff;
}
.login-main {
	width: 304px;
	height: 294px;
	padding: 30px 40px 60px 42px;
}
.login-top {
	position: relative;
}
.login-top > a {
	height: 20px;
	line-height: 20px;
	font-size: 18px;
}
.login-top .phone-num {
	float: left;
	margin-left: 12px;
}
.login-top .phone-num:hover {
	color: #333;
}
.login-top .email {
	float: right;
	margin-right: 12px;
	color: #ababab;
}
.login-top .email:hover {
	color: #b4a078;
}
.login-top .line {
	position: absolute;
	left: 154px;
	width: 1px;
	height: 20px;
	background-color: #ddd;
}
.code-valid-login {
	margin-bottom: 8px;
	margin-top: 22px;
	text-align: right;
}
.code-valid-login a:hover {
	color: #b4a078;
}
.login-foot {
	padding: 20px 32px 0 40px;
	width: 316px;
	height: 44px;
	background-color: #f5f3ef;
}
.login-foot-l {
	float: left;
}
.login-foot-r {
	float: right;
}
.login-foot-r a {
	float: right;
	color: #999;
}
.login-foot-r a:hover {
	color: #b4a078;
}
.login-foot-r .question {
	margin-left: 10px;
}
.login-foot-l a {
	float: left;
	width: 30px;
	height: 30px;
	margin:0 4px;
	background: url(../imgs/login-s1.png) no-repeat;
}
.login-foot-l .weixin {
	background-position: -6px -6px;
}
.login-foot-l .weixin:hover {
	background-position: -6px -45px;
}
.login-foot-l .qq {
	background-position: -6px -246px;
}
.login-foot-l .sina {
	background-position: -6px -124px;
}
.login-foot-l .wangyi {
	background-position: -6px -84px;
}
.login-foot-l .qq:hover {
	background-position: -6px -290px;
}
.login-foot-l .sina:hover {
	background-position: -6px -204px;
}
.login-foot-l .wangyi:hover {
	background-position: -6px -164px;
}
.footer {
	height: 167px;
  padding-top: 37px;
  background-color: #414141;
}
.footer-inner {
	width: 1090px;
	margin: 0 auto;
	position: relative;
}
.footer-top {
	margin-bottom: 30px;
}
.footer-top .foot-item {
	float: left;
	width: 33.33%;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 51px;
	height: 51px;
}
.ft-icon {
	display: inline-block;
	background: url(../imgs/ft-icon.png) no-repeat;
}
.footer-top .foot-item .ft-icon {
	width: 51px;
	height: 51px;
	margin-right: 17px;
}
.footer-top .foot-item .ft-icon1 {
	background-position: 0 -310px;
}
.footer-top .foot-item .ft-icon2 {
	background-position: 0 0;
}
.footer-top .foot-item .ft-icon3 {
	background-position: 0 -135px;
}
.footer-top .foot-item span {
	position: relative;
	top: -18px;
}
.footer-bot {
	width: 1090px;
	margin: 0 auto;
	padding-top: 28px;
	border-top: 1px solid #4f4f4f;
	text-align: center;
}
.footer-bot, .foot-links > a {
	color: #999;
}
.foot-links a {
	margin: 0 14px;
}
.foot-links {
	position: relative;
}
.foot-links .admini {
	position: absolute;
	margin-left: -1px;
	margin-top: -4px;
	width: 36px;
	height: 39px;
}
.foot-links .admini img {
	width: 100%;
	display: block;
}

/*详情页*/

.pro-path > a:hover {
	text-decoration: underline;
	color: #333;
}
.pro-path {
	padding: 20px 0;
}
.deimg-box {
	position: relative;
	float: left;
	margin-right: 60px;
}
.detxt-box {
	float: left;
}
.deimg-big {
  position: relative;
  float: left;
  width: 430px;
  height: 430px;
  border: 1px solid #e8e8e8;
  margin-right: 16px;
}
.deimg-big img {
	width: 100%;
}
.deimg-big .cover {
	position: absolute;
	width: 215px;
	height: 215px;
	background-color: rgba(0,0,0,.4);
	top: 0;
}
.max-box {
	display: none;
	position: absolute;
	left: 448px;
	width: 430px;
	height: 430px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	overflow: hidden;
}
.max-box img {
	position: absolute;
	width: 860px;
	height: 860px;
	top: 0;
	left: 0;
}
.deimg-sm-box {
	float: left;
}
.deimg-sm-box li {
	zoom: 1;
	width: 74px;
	height: 74px;
	overflow: hidden;
	margin-bottom: 10px;
	vertical-align: top;
	border: 2px solid #e8e8e8;
	cursor: pointer;
}
.deimg-sm-box li:hover {
	border: 2px solid #b4a078;
}
.detxt-box {
	float: left;
}
.details-box {
	width: 476px;
	background-color: #f5f3ef;
	padding: 0 9px;
	border-top: 1px dotted #dedede;
	border-bottom: 1px dotted #dedede;	
	margin-bottom: 10px;
}
.depro-tit {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 18px;
}
.depro-des {
	color: #9999b2;
	margin-bottom: 20px;
}
.depro-price .txt {
	display: inline-block;
	width: 54px;
	height: 30px;
	line-height: 30px;
	color: #666;
	margin-top: 16px;
	font-size: 13px;
}
.depro-price {
	position: relative;
}
.depro-price .flag {
	line-height: 30px;
  color: #d7282d;
  font-size: 18px;
}
.depro-price .price {
	font-weight: 600;
	margin-top: 10px;
	font-size: 28px;
  line-height: 30px;
  margin-left: 2px;
  color: #d7282d;
}
.de-comments {
	position: absolute;
	top: 10px;
  right: 12px;
  line-height: 1.2;
  text-align: center;
}
.de-comments:hover {
	color: #b4a078
}
.tickit-get .tickit1 {
	display: inline-block;
	width: 52px;
	height: 28px;
	line-height: 28px;
}
.tickit-get .tickit2 {
	position: relative;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 6px;
	border-top: 1px solid #d52b33;
	border-bottom: 1px solid #d52b33;
	color: #d52b33;
	background-color: #fff;
	margin-right: 6px;
}
.tickit-get .tickit3 {
	display: inline-block;
}
.de-s1 {
	background: url(../imgs/det-s1.png) no-repeat;
}
.tickit-get .tickit-icon1 {
	width: 2px;
	height: 18px;
	position: absolute;
	top: -1px;
	left: -2px; 
}
.tickit-get .tickit-icon2 {
	width: 2px;
	height: 18px;
	position: absolute;
	right: -2px;
	top: -1px
}
.tickit-get .tickit-btn {
	font-size: 14px;
	color: #d52b33;
}
.jifen {
	margin-bottom: 14px;
	margin-top: 10px;
}
.jifen1 {
	display: inline-block;
	width: 52px;
}
.details-line {
	width: 100%;
	border-top: 1px dashed #d2d2d2;
	margin-bottom: 12px;
}
.det-service {
	line-height: 20px;
	margin-bottom: 16px;
} 
.det-service .det-ser2:hover {
	text-decoration: underline;
}
.det-service .det-ser1 {
	float: left;
	width: 52px;
}
.det-service .det-ser2 {
	float: left;
	width: 326px;
	cursor: pointer;
}
.de-num-box {
	margin-top: 10px;
	margin-left: 10px;
}
.de-num-txt {
	float: left;
	width: 54px;
	height: 30px;
	line-height: 30px;
}
.de-num-inner {
	float: left;
	border: 1px solid #ddd;
	overflow: hidden;
}
.de-num-inner .reduce, .de-num-inner .add {
	float: left;
	width: 36px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.de-num-inner .reduce {
	font-size: 22px;
	color: #d3d3d3;
}
.de-num-inner input {
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.de-btns {
	margin-left: 12px;
	margin-top: 30px;
}
.de-btns .btn {
	float: left;
	width: 168px;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 2px;
}
.de-btns .now-buy {
	color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef;
}
.now-buy:hover {
	background-color: #fff;
}
.de-btns .add-cart {
	color: #fff;
	background-color: #b4a078;
}
.de-btns .add-cart i {
	display: inline-block;
  height: 21px;
  width: 21px;
  position: relative;
  top: 2px;
  right: 4px;
	background: url(../imgs/addcart-btn.png) 0 -66px;
}
.de-btns .add-cart:hover {
	background-color: #c0ae8a;
}
.de-btns .collect-btn {
	float: left;
	width: 50px;
	height: 49px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
}
.collect-btn i {
	display: inline-block;
	background: url(../imgs/s4.png) 0 -646px;
  height: 15px;
  width: 16px; 
	margin-top: 6px;
}

/*购物车*/

.cart-wrap {
	padding-bottom: 40px;
	margin-top: 20px;
}
.cart-top {
	margin-bottom: 20px;
	padding: 12px 0;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	font-size: 13px;
}
.cart-top > div {
	float: left;
}
.cart-top1 {
	width: 159px;
}
.ck1 {
	background: url(../imgs/ck1.png) no-repeat;
}
.cart-box .checkAll, .cart-main .check {
	float: left;
	width: 18px; 
	height: 18px;
	margin-left: 20px;
	margin-right: 14px;
	/*-webkit-appearance: none;*/
	border: none;	
	cursor: pointer;
}
.cart-box .checked {
	background-position: 0 -56px;
}
.cart-box .noCheck {
	background-position: 0 -84px;
}
.cart-top2 {
	width: 300px;
}
.cart-top3 {
	width: 180px;
	text-align: center;
}
.cart-top4 {
	width: 170px;
	text-align: center;
}
.cart-top5 {
	width: 150px;
	padding-right: 30px;
	text-align: right;
}
.cart-top6 {
	width: 129px;
	margin-left: 31px;
}
.cart-group {
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.cart-item {
	padding: 20px 0;
	position: relative;
}
.cart-item > div {
	float: left;
}
.cart-col1 {
	margin-top: 40px;
	width: 59px;
}
.cart-col2 {
	height: 100px;
	width: 100px;
	border: 1px solid #eaeaea;
	background-color: #f4f4f4;;
}
.cart-col2 img {
	width: 100%;
}
.cart-col3 {
	width: 300px;
	padding-top: 10px;
	padding-left: 20px;
}
.cart-tit {
	display: block;
	max-width: 248px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.pro-des a {
	display: inline-block;
	font-size: 13px;
	padding-top: 9px;
	height: 16px;
	line-height: 16px;
	color: #999;
}
.cart-col4 {
	width: 144px;
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
}
.cart-col5 {
	width: 196px;
	padding-top: 10px;
	text-align: center;
}
.cart-num-box {
	width: 108px;
	margin: 0 auto;
	border: 1px solid #ddd;
	overflow: hidden;
}
.cart-num-box .reduce, .cart-num-box .add {
	float: left;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
.cart-num-box .cart-ipt{
	float: left;
	width: 58px;
	text-align: center;
	height: 24px;
	line-height: 24px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.cart-col6 {
	width: 138px;
	padding-top: 10px;
	text-align: right;
	padding-right: 30px;
	color: #d4282d;
	font-size: 14px;
}
.cart-col7 {
	width: 98px;
	padding-left: 31px;
}
.cart-col7 a {
	padding-top: 8px;
	cursor: pointer;
}
.cart-col7 a:hover {
	color: #b4a078;
}
.cart-total {
	font-size: 14px;
	position: relative;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	height: 66px;
}
.cart-total1 {
	position: absolute;
	top: 24px;
}
.total-del {
	margin-left: 30px;
}
.cart-total2 {
	float: right;
}
.cart-total2 a {
	display: inline-block;
	border-radius: 0;
  width: 140px;
  height: 66px;
  line-height: 66px;
  margin-top: -1px;
  margin-right: -1px;
  color: #fff;
  border: 1px solid #b4a078;
  background-color: #b4a078;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
.cart-total3 {
	float: right;
	margin-right: 25px;
	padding-top: 8px;
}
.cart-tatal3-top {
	text-align: right;
	overflow: hidden;
	height: 34px;
	font-size: 14px;
}
.cart-tatal3-top .sp1 {
	float: right;
	height: 33px;
	line-height: 30px;
}
.cart-tatal3-top .sp2 {
	font-size: 22px;
  color: #d4282d;
  font-weight: 700;
  padding-left: 10px;
}
.total-tip {
	float: right;
	font-size: 14px;
  height: 33px;
  line-height: 30px;
  margin-right: 14px;
  padding-top: 2px;
  color: #666;
}
.cart-total3-bot {
	text-align: right;
}
.cart-total3-bot a {
	font-size: 14px;
	color: #d3282d;
}
.cart-total3-bot a:hover {
	text-decoration: underline;
}